@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=RocknRoll+One&display=swap');

*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 1rem;
}

body{
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(176,196,222,0.4);
}

h1{
  display: flex;
  font-size: 1.5rem;
  margin-top: 25px;
}

i{
  font-size: 2rem;
  margin-right: 10px;
}

.faqs{
  height: 650px;
  display: block;
  margin-top: 30px;
}

.faq{
  width: 600px;
  height: 80px;
  border-radius: 8px;
  margin-bottom: 20px;
  display: flex;
  overflow: hidden;
  transition: 0.3s ease;
  flex-direction: column;
  justify-content: space-around;
  border: solid black 0.1rem;
}

.fas{
  padding-right: 10px;
}

.items{
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.answer, 
.question{
  margin-left: 20px;
  padding: 5px;
}

.question{
  font-size: 1.1rem;
}

.answer{
  display: none;
  font-size: 0.9rem;
  margin-bottom: 15px;
}

.open{
  display: flex;
}

.close{
  display: none;
}

.faqExpand{
  height: 130px;
  background: white;
}

@media(max-width: 450px){

  body{
    display: block;
  }

  h1{
    margin-top: 20px;
    display: block;
    text-align: center;
  }

  .faqs{
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .faq{
    width: 280px;
  }

  .question{
    font-size: 0.9rem;
  }

  .answer{
    font-size: 0.8rem;
  }

}
