@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=RocknRoll+One&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 1rem;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #CCABDA;
}

i{
  font-size: 3rem;
  color: black;
}

.social-medias{
  width: 700px;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: center;
}

.social-media{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2{
  margin-top: 10px;
  font-size: 3.5rem;
}

@media(max-width: 770px){

  .social-medias{
    flex-direction: column;
    height: 450px;
    width: auto;
  }
  
  h2{
    font-size: 2.5rem;
  }
}

