@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=RocknRoll+One&display=swap');

*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 1rem;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;

  background: #3494e4;
}


h1{
  font-size: 2rem;
  margin-top: 1rem;
}

.container-water{
  background-color: #fff;
  border: 4px solid #144fc6;
  border-radius: 0 0 2rem 2rem;
  height: 330px;
  width: 150px;
  margin: 30px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container-empty{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
  flex: 1;
}

.container-water span:first-child{
  font-size: 2rem;
  font-weight: 800;
}

.container-full{
  height: 0;
  display: flex;
  justify-content: center;
  background: #6ab3f8;
  align-items: center;
  transition: 0.3s ease;

  font-size: 1.8rem;
  font-weight: 800;
}

.cups{
  display: flex;
  width: 280px;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.glass{
  display: flex;
  height: 100px;
  width: 50px;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 0 0 1rem 1rem;
  border: #144fc6 solid 0.2rem;

  margin: 5px;

  font-size: 1rem;
  text-align: center;
}

.full{
  background: #6ab3f8;
}

@media(max-width: 500px){

  h2{
    font-size: 0.8rem;
    text-align: center;
  }
}

