@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=RocknRoll+One&display=swap');

*{
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
  font-family: 'RocknRoll One', sans-serif;
  font-size: 1rem;
}

body{
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0A0D0C;
  justify-content: center;
  background: #D9A79C;
}

h2{
  text-align: center;
}

textarea{
  resize: none;
  padding: 10px;
  width: 480px;
  height: 150px;
}

.random-choise{
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tag{
  display: flex;
  border-radius: 8px;
  width: auto;
  height: 40px;
  background: #2C5559;
  color: #D9A79C;
  margin: 5px;
  padding: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.tags{
  width: 490px;
  height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: white;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb {
  background: #2C5559;
  border-radius: 8px;
}

.highlight {
  background-color: black;
}


@media(max-width: 450px){

  textarea{
    width: 250px;
  }

  .tags{
    width: 250px;
  }

  .random-choise{
    width: 300px;
  }
  
}